body {
	font-family: 'Lato', sans-serif;
	/*background: url('./assets/images/question-marks-background.jpg');*/
	/*background-repeat: repeat;*/
	background: #0D677F;
	color:  #99B0D7;
}

.title-text {
	text-align: center;
}

#loading-screen, 
#categories-wrapper, 
#score-screen-wrapper, 
.question-wrapper {
	max-width: 90vw;
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
}


.category-wrapper {
	display: inline-block;
	margin: 5px 5px;
	border: 3px solid #073440;
	width: 125px;
	height: 100px;
	vertical-align: top;
	font-size: 20px;	
	background-color: #3BE8E8;
	color: black;
}

#message-display {
	font-weight: bold;
	min-height: 30px;
}

#question-timer-display {
	font-size: 30px;
}

#question-display {
	width: fit-content;
	margin: 0 auto;
	padding: 15px 15px;
	color: #99B0D7;
	min-height: 90px;
}

.answer-option {
	display: inline-block;
	border: 3px solid #073440;
	text-align: center;
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	background-color: #3BE8E8;
	font-size: 20px;
	color: black;
}

.correct-answer {
	background-color: #46FF53 !important;
}

.incorrect-answer {
	background-color: #FF4E42 !important;
}



@media only screen and (max-width: 768px) {
	.answer-option {
		display: block;
		width: 100%;
	}
}

@media only screen and (min-width : 992px) {
	.answer-option {
		display: inline-block;
	}
}
