html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	background: #0D677F;
	color:  #99B0D7;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex: 1;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #3BE8E8;
	color: black;
	border-top: 3px solid #073440;
	font-size: 14px;
	margin-top: 20px;
}

.title-text {
	text-align: center;
	margin: 25px 0;
	font-size: 30px;
}

#loading-screen, 
#score-screen-wrapper, 
.question-wrapper {
	max-width: 90vw;
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
}

#categories-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	max-width: 65vw;
	text-align: center;
	margin: 0 auto;
}

.category-wrapper {
	display: flex;
	margin: 5px 5px;
	width: 125px;
	height: 100px;
	border: 3px solid #073440;
	background-color: #3BE8E8;
	color: black;
	font-size: 20px;
}

.category-option {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-self: center;
	pointer-events: none;
}

#message-display {
	font-weight: bold;
	min-height: 30px;
}

#question-timer-display {
	font-size: 30px;
}

#question-display {
	width: fit-content;
	margin: 0 auto;
	padding: 15px 15px;
	color: #99B0D7;
	min-height: 90px;
}

.answer-option {
	display: inline-block;
	border: 3px solid #073440;
	text-align: center;
	width: 40%;
	margin: 10px auto;
	padding: 10px 0;
	background-color: #3BE8E8;
	font-size: 20px;
	color: black;
}

.correct-answer {
	background-color: #46FF53 !important;
}

.incorrect-answer {
	background-color: #FF4E42 !important;
}

#correct-answers-display,
#incorrect-answers-display {
	margin: 15px 0;
}

#restart-button {
	background-color: #3BE8E8;
	border: 2px solid #073440;
	width: 100px;
	height: 50px;
	font-size: 20px;
	margin: 20px 0;
}



@media only screen and (max-width: 768px) {
	.answer-option {
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	#categories-wrapper {
		max-width: 90vw;
	}
}

@media only screen and (min-width : 992px) {
	.answer-option {
		display: inline-block;
	}
}
